/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #003366;
}
a:hover {
  color: #004d99;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
 color: #000;
 background-color: #ededed;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #003366;
}
#site-header a:hover {
  color: #004d99;
}


/* =Logo
-------------------------------------------------------------- */

#site-title {
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  font-size: 1em;
  display: block;
  height: 100%;
  color: #003366;
}
#site-title a:hover {
  color: #004d99;
}
#site-logo {
  height: 100%;
  width: auto;
  margin-right: 0.5em;
  float: left;
  display: none;
}
.app-title {
  float: left;
}
.app-name {
  display: block;
  font-size: 1.25em;
  margin-top: -0.25em;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #aaa;
  background: #e3e3e3;
}
a#nav-bttn:hover {}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #ededed;
  border-top: 0.5em solid #ededed;
  background: #e3e3e3;
}
.access li {
  border-bottom: 2px solid #ededed;
}
.access a:hover {
  background: #fff;
}
.access a:visited, .access a:active, .access a:link {
}


/* =Forms
-------------------------------------------------------------- */

label {}
input[type=text],
textarea {}
.required {}
.bttn {}
.bttn:hover {}
.fileinput-container {
  background-color: #00aaff;
  color: #f0f0f0;
  padding: 0.75em 1em;
  border: 0;
  margin: 0 0 0.667em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 1px -1px 0 #06A;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.fileinput-container.disabled {
  background-color: #e0e0e0;
  color: #f0f0f0;
  text-shadow: 1px -1px 0 #999;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}

a.reply-link {
  color: #fff;
  background: #003366;
}
a.reply-link:hover {
  color: #fff;
  background-color: #004d99;
}


/* =Issue Tags
-------------------------------------------------------------- */

.survey-field-retail,
.survey-field-housing,
.survey-field-health,
.survey-field-emergency,
.survey-field-naturalcultural,
.survey-field-transportation,
.survey-field-utilities,
.survey-field-coastal,
.survey-field-flood,
.survey-field-vulnerable,
.survey-field-community {
  float: left;
  margin: 0 0.25em 0.25em 0 !important;
  background: #eee;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 4px;
}
.survey-field-retail label,
.survey-field-housing label,
.survey-field-health label,
.survey-field-emergency label,
.survey-field-naturalcultural label,
.survey-field-transportation label,
.survey-field-utilities label,
.survey-field-coastal label,
.survey-field-flood label,
.survey-field-vulnerable label,
.survey-field-community label {
  display: inline;
  color: #555;
  font-weight: 900;
  font-size: 0.85em;
  white-space: nowrap;
}
.survey-widgets-retail,
.survey-widgets-housing,
.survey-widgets-health,
.survey-widgets-emergency,
.survey-widgets-naturalcultural,
.survey-widgets-transportation,
.survey-widgets-utilities,
.survey-widgets-coastal,
.survey-widgets-flood,
.survey-widgets-vulnerable,
.survey-widgets-community {
  display: inline;
  position: relative;
  top: -0.325em;
}
.survey-label-submitter_name,
#place-item-submitter_name {
  clear: left;
  padding-top: 1.2em;
}

/* hide the tags... */
.survey-field-retail,
.survey-field-housing,
.survey-field-health,
.survey-field-emergency,
.survey-field-naturalcultural,
.survey-field-transportation,
.survey-field-utilities,
.survey-field-coastal,
.survey-field-flood,
.survey-field-vulnerable,
.survey-field-community {
  display: none;
}
/* ...unless we're showing issues OR we're on the general comments page*/
.show-ideas .survey-field-retail,
.show-ideas .survey-field-housing,
.show-ideas .survey-field-health,
.show-ideas .survey-field-emergency,
.show-ideas .survey-field-naturalcultural,
.show-ideas .survey-field-transportation,
.show-ideas .survey-field-utilities,
.show-ideas .survey-field-coastal,
.show-ideas .survey-field-flood,
.show-ideas .survey-field-vulnerable,
.show-ideas .survey-field-community,
.general-comments .survey-field-retail,
.general-comments .survey-field-housing,
.general-comments .survey-field-health,
.general-comments .survey-field-emergency,
.general-comments .survey-field-naturalcultural,
.general-comments .survey-field-transportation,
.general-comments .survey-field-utilities,
.general-comments .survey-field-coastal,
.general-comments .survey-field-flood,
.general-comments .survey-field-vulnerable,
.general-comments .survey-field-community {
  display: block;
}
.show-ideas .survey-field-comment:after,
.general-comments .survey-field-comment:after {
  content: "Optionally add tags...";
  color: #888;
  display: block;
  font-weight: 900;
  position: relative;
  top: 1.2em;
  margin-bottom: 1.2em;
}

/* display the tags in ideas... ONLY ideas */
.response-item-retail,
.response-item-housing,
.response-item-health,
.response-item-emergency,
.response-item-naturalcultural,
.response-item-transportation,
.response-item-utilities,
.response-item-coastal,
.response-item-flood,
.response-item-vulnerable,
.response-item-community {
  display: none;
}
.show-ideas .response-item-retail,
.show-ideas .response-item-housing,
.show-ideas .response-item-health,
.show-ideas .response-item-emergency,
.show-ideas .response-item-naturalcultural,
.show-ideas .response-item-transportation,
.show-ideas .response-item-utilities,
.show-ideas .response-item-coastal,
.show-ideas .response-item-flood,
.show-ideas .response-item-vulnerable,
.show-ideas .response-item-community {
  display: block;
}
.response-value-retail,
.response-value-housing,
.response-value-health,
.response-value-emergency,
.response-value-naturalcultural,
.response-value-transportation,
.response-value-utilities,
.response-value-coastal,
.response-value-flood,
.response-value-vulnerable,
.response-value-community {
  float: left;
  margin: 0 0.25em 0.25em 0 !important;
  background: #ddd;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 4px;
  color: #555;
  font-weight: 900;
  font-size: 0.85em;
  white-space: nowrap;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
ul.recent-points {
  color: #666;
  border-top: 2px solid #ddd;
}
.recent-points li {
  border-bottom: 2px solid #ddd;
}
.recent-points li:hover {
  background: #fff;
}
.recent-points a {
  color: #666;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #222;
}

/* General Comments Link*/
.general-comments-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75em 0.25em;
  margin: 10px 10px 15px;
  background-color: #004d99;
  color: #f0f0f0 !important;
  box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.general-comments-link:hover {
  background-color: #003366;
}
.general-comments-link span {
  white-space: nowrap;
}


/* =Assets
-------------------------------------------------------------- */

/* legend */
.legend {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  border-bottom: 2px solid #ddd;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2;
}
.legend li {
  padding: 0 10px;
}
.legend span {
  font-size: 2.5em;
  line-height: 1;
  float: left;
  margin: 0 5px 0 0;
  position: relative;
  top: -0.25em;
/*  text-shadow: -1px -1px 0 #000;*/
}
.legend-economic {
  color: #FF6F75;
}
.legend-health {
  color: #0091FF;
}
.legend-housing {
  color: #F9FF6A;
}
.legend-infrastructure {
  color: #CD95D7;
}
.legend-natural {
  color: #67D666;
}

/* asset indicator in info-window */
.asset-class {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
}
.asset-economic {
  background: #FF6F75;
}
.asset-health {
  background: #0091FF;
}
.asset-housing {
  background: #F9FF6A;
  color: #666;
}
.asset-infrastructure {
  background: #CD95D7;
}
.asset-natural {
  background: #67D666;
}
.asset-vacant {
  background: #666;
}


/* =Comment Types
-------------------------------------------------------------- */

.comment-type-menu {
  margin: 0 0 1em;
  padding: 0;
  border-bottom: 1px solid #aaa;
}
.comment-type-menu-list {
  list-style: none;
  margin: 0;
  padding: 0 0.5em;
}
.comment-type-menu-list-item {
  float: left;
/*  width: 33%;*/
  margin: 0;
  padding: 0 !important;
}
.comment-type-link {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 2.25;
  display: block;
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 0 -1px;
  padding: 0 1em;
}
.comment-type-prompt {
  margin-bottom: 1.75em !important;
  display: none;
}
.response-item-comment-type {
  display: none;
}
.comment-type {
  display: none;
}

.comment-type-idea .ideas-prompt,
.comment-type-idea .comment-type-idea-list-item {
  display: block
}

.comment-type-idea .ideas-link {
  background: #fff;
  border-color: #aaa;
  color: #444;
}

.comment-type-correction .corrections-prompt,
.comment-type-correction .comment-type-correction-list-item {
  display: block;
}

.comment-type-correction .corrections-link {
  background: #fff;
  border-color: #aaa;
  color: #444;
}

.comment-type-issue .issues-prompt,
.comment-type-issue .comment-type-issue-list-item {
  display: block;
}

.comment-type-issue .issues-link {
  background: #fff;
  border-color: #aaa;
  color: #444;
}


.general-comments .corrections-list-item,
.general-comments .corrections-prompt {
  display: none;
}

.comment-count-0 {
  display: none;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #site-header {
   background-image: url(images/header-background.png);
   background-repeat: no-repeat;
   background-position: left center;
   height: 6em;
  }
  #map-container,
  #ticker {
    top: 6em; /* must match height of #site-header */
  }
  #content {
    top: 7.75em; /* height of #site-header + extra 1.75em */
  }
  #site-logo {
    display: block;
  }
  .ie8 #site-logo {
    display: none;
  }
  .access {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    margin-top: 2.5em;
  }
  .access li {
    border-bottom: 0;
  }
  .access a:hover {
    background: transparent;
  }
  .access a:visited, .access a:active, .access a:link {
  }
  #site-title {
    margin-right: 2em;
  }
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
  }
  .app-title {
    font-size: 1.5em;
  }
  .app-name {
    font-size: 1.5em;
  }
  .user-menu {
    padding-top: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-header {
   height: 7em;
  }
  #map-container,
  #ticker {
    top: 7em; /* must match height of #site-header */
  }
  #content {
    top: 8.75em; /* height of #site-header + extra 1.75em */
  }
  #site-title {
    padding: 1em;
  }
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
  }
  #site-logo {
    margin-right: 1em;
  }
  .app-title {
    font-size: 1.75em;
  }
  .app-name {
    font-size: 1.75em;
  }
}

@media only screen and (min-width: 1300px) {
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
  }
}