<!-- Analytics by GitHub Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ config.analytics_key }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">

(function(S) {
  // App.viewComments
  // ----------------
  // Add a route for the general comments
  S.App.prototype.routes['comments'] = 'viewComments';
  S.App.prototype.viewComments = function() {
    // Get the first general place (i.e., places with location_type='general').
    // Use the first one, and bail if there aren't any.
    var allPlaces = this.collection,
        generalPlaces = allPlaces.where({location_type: 'general'}),
        generalPlace;

    if (generalPlaces.length === 0) {
      alert('No general places in the dataset.');
      return;
    } else {
      generalPlace = generalPlaces[0];
    }

    this.appView.viewComments(generalPlace);
  };

  // AppView.viewComments
  // ---------------------------
  // Show the general comments place. Largely copied from AppView.viewPlace,
  // except without the logic that repositions the map.
  S.AppView.prototype.viewComments = function(model) {
    var map = this.mapView.map,
        layer, center, placeDetailView;

    if (model) {
      // Called by the router
      placeDetailView = this.getPlaceDetailView(model);

      this.$panel.removeClass().addClass('place-detail place-detail-' + model.id);
      this.showPanel(placeDetailView.render().$el);
      this.hideNewPin();
      this.destroyNewModels();
      this.hideCenterPoint();
      this.hideAddButton();
      this.hideInstructions(true);

      // Focus the one we're looking
      model.trigger('focus');

      model.submissionSets.comments.on('reset', function(collection) {
        Shareabouts.initializeComments(model.submissionSets.comments, $('#content'));
      });
    } else {
      this.options.router.navigate('/');
    }
  };

  // initializeComments
  // ------------------
  // Determine which comment category has the most recent submission and
  // activate the corresponding tab.
  Shareabouts.initializeComments = function(commentCollection, $el) {
    var newestType = Shareabouts.getNewestCommentType(
      commentCollection.toJSON(),
      commentCollection.options.placeModel.get('location_type') === 'general'
    );

    if (newestType === 'comment-type-issue') {
      showIssues($el);
    } else if (newestType === 'comment-type-idea') {
      showIdeas($el);
    } else if (newestType === 'comment-type-correction') {
      showCorrections($el);
    }
  }

  // getNewestCommentType
  // --------------------
  // Determine which comment category has the most recent submission.
  Shareabouts.getNewestCommentType = function(data, isGeneral) {
    var order = ['comment-type-correction', 'comment-type-issue', 'comment-type-idea'],
        sorted = _.sortBy(data, 'created_datetime');

    if (sorted.length) {
      return _.last(sorted)['comment-type'];
    }

    if (isGeneral) {
      return order[1];
    } else {
      return order[0];
    }
  };

  var originalRender = Shareabouts.SurveyView.prototype.render;
  Shareabouts.SurveyView.prototype.render = function() {
    var view = originalRender.call(this);
    Shareabouts.initializeComments(this.collection, this.$el);
    return view;
  }

  function showCorrections($parent) {
    var $el = $parent.find('.survey-container'),
        // This is used in the CSS - be aware!
        val = 'comment-type-correction';

    // Reset the form
    $el.find('form').get(0).reset();

    $el.removeClass('comment-type-idea comment-type-issue').addClass(val);
    $el.find('#survey-comment-type').val(val);
    $el.find('[type="submit"]').val('Suggest Correction');
  };

  function showIssues($parent) {
    var $el = $parent.find('.survey-container'),
        // This is used in the CSS - be aware!
        val = 'comment-type-issue';

    // Reset the form
    $el.find('form').get(0).reset();

    $el.removeClass('comment-type-idea comment-type-correction').addClass(val);
    $el.find('#survey-comment-type').val(val);
    $el.find('[type="submit"]').val('Report Need');
  }

  function showIdeas($parent) {
    var $el = $parent.find('.survey-container'),
        // This is used in the CSS - be aware!
        val = 'comment-type-idea';

    // Reset the form
    $el.find('form').get(0).reset();

    $el.removeClass('comment-type-issue comment-type-correction').addClass(val);
    $el.find('#survey-comment-type').val(val);
    $el.find('[type="submit"]').val('Share Idea');
  }

  $(function() {
    function handleCorrectionClick(evt) {
      evt.preventDefault();
      showCorrections($('#content'));
    }
    function handleIssueClick(evt) {
      evt.preventDefault();
      showIssues($('#content'));
    }
    function handleIdeaClick(evt) {
      evt.preventDefault();
      showIdeas($('#content'));
    }

    // Hijack the general comments link in the legend
    $('body').on('click', '.comments-link', function(evt) {
      evt.preventDefault();
      window.app.navigate($(this).attr('href'), {trigger: true});
    });

    $('#content').on('click', '.corrections-link', handleCorrectionClick);
    $('#content').on('click', '.issues-link', handleIssueClick);
    $('#content').on('click', '.ideas-link', handleIdeaClick);
  });

  $(S).on('panelshow', function(evt, app, path) {

    var $el = $('.place-detail'),
        $asset = $el.find('.asset-class'),
        asset = $asset.text(),
        assetMap = {
          'A': { 'name': 'Economic', 'cssclass': 'asset-economic'},
          'B': { 'name': 'Health and Social Services', 'cssclass': 'asset-health'},
          'C': { 'name': 'Housing', 'cssclass': 'asset-housing'},
          'D': { 'name': 'Infrastructure Systems', 'cssclass': 'asset-infrastructure'},
          'E': { 'name': 'Natural and Cultural', 'cssclass': 'asset-natural'},
          'NONE': { 'name': 'Vacant', 'cssclass': 'asset-vacant'},
          'other': { 'name': 'Missing asset identified by community member'}
        },
        // for comments
        headerHtml;

    // Replace the header if this is the comments view
    if (path === 'comments') {
      headerHtml = Handlebars.templates['general-comments-header'];
      $el.find('.place-header').html(headerHtml);
      $el.addClass('general-comments');
    }

    // Set asset type
    if (assetMap[asset]) {
      $asset.text(assetMap[asset].name).addClass(assetMap[asset].cssclass);
    } else {
      $asset.text(assetMap.other.name).addClass(assetMap.other.cssclass);
    }
  });
}(Shareabouts));

</script>