<!-- Analytics by GitHub Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ config.analytics_key }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">

// App.viewComments
// ----------------
// Add a route for the general comments
Shareabouts.App.prototype.routes['comments'] = 'viewComments';
Shareabouts.App.prototype.viewComments = function() {
  // Get the first general place (i.e., places with location_type='general').
  // Use the first one, and bail if there aren't any.
  var allPlaces = this.collection,
      generalPlaces = allPlaces.where({location_type: 'general'}),
      generalPlace;

  if (generalPlaces.length === 0) {
    alert('No general places in the dataset.');
    return;
  } else {
    generalPlace = generalPlaces[0];
  }

  this.appView.viewComments(generalPlace);
};

// AppView.viewComments
// ---------------------------
// Show the general comments place. Largely copied from AppView.viewPlace,
// except without the logic that repositions the map.
Shareabouts.AppView.prototype.viewComments = function(model) {
  var map = this.mapView.map,
      layer, center, placeDetailView;

  if (model) {
    // Called by the router
    placeDetailView = this.getPlaceDetailView(model);

    this.$panel.removeClass().addClass('place-detail place-detail-' + model.id);
    this.showPanel(placeDetailView.render().$el);
    this.hideNewPin();
    this.destroyNewModels();
    this.hideCenterPoint();
    this.hideAddButton();
    this.hideInstructions(true);

    // Focus the one we're looking
    model.trigger('focus');
  } else {
    this.options.router.navigate('/');
  }
};

$(function() {
  // Hijack the general comments link in the legend
  var $commentsLink = $('.legend-general-comments-link');
  $commentsLink.click(function(evt) {
    evt.preventDefault();
    window.app.navigate($commentsLink.attr('href'), {trigger: true});
  });
});

$(Shareabouts).on('panelshow', function(evt, app, path) {

  var $el = $('.place-detail'),
      $asset = $el.find('.asset-class'),
      asset = $asset.text(),
      assetMap = {
        'A': { 'name': 'Economic', 'cssclass': 'asset-economic'},
        'B': { 'name': 'Health and Social Services', 'cssclass': 'asset-health'},
        'C': { 'name': 'Housing', 'cssclass': 'asset-housing'},
        'D': { 'name': 'Infrastructure Systems', 'cssclass': 'asset-infrastructure'},
        'E': { 'name': 'Natural and Cultural', 'cssclass': 'asset-natural'},
        'NONE': { 'name': 'Vacant', 'cssclass': 'asset-vacant'},
        'other': { 'name': 'Missing asset identified by community member'}
      },
      // tab links
      $issuesLink = $el.find('.issues-link'),
      $ideasLink = $el.find('.ideas-link'),
      $correctionsLink = $el.find('.corrections-link'),
      $allLinks = $el.find('.comment-type-link'),
      // input
      $submitBtn = $el.find('[type="submit"]'),
      // for comments
      headerHtml;

  // Replace the header if this is the comments view
  if (path === 'comments') {
    headerHtml = Handlebars.templates['general-comments-header'];
    $el.find('.place-header').html(headerHtml);
  }

  // Set asset type
  if (assetMap[asset]) {
    $asset.text(assetMap[asset].name).addClass(assetMap[asset].cssclass);
  } else {
    $asset.text(assetMap.other.name).addClass(assetMap.other.cssclass);
  }

  // panel tabs
  $correctionsLink.click(function(e) {
    $allLinks.removeClass('current');
    $(this).addClass('current');

    $el.removeClass('show-ideas show-issues').addClass('show-corrections');

    $el.find('#survey-comment-type').val('comment-type-correction');
    $el.find('[type="submit"]').val('Suggest Correction');

    e.preventDefault();
  });

  $issuesLink.click(function(e) {
    $allLinks.removeClass('current');
    $(this).addClass('current');

    $el.removeClass('show-ideas show-corrections').addClass('show-issues');

    $el.find('#survey-comment-type').val('comment-type-issue');
    $el.find('[type="submit"]').val('Report Issue');

    e.preventDefault();
  });

  $ideasLink.click(function(e) {
    $allLinks.removeClass('current');
    $(this).addClass('current');

    $el.removeClass('show-issues show-corrections').addClass('show-ideas');

    $el.find('#survey-comment-type').val('comment-type-idea');
    $el.find('[type="submit"]').val('Share Idea');

    e.preventDefault();
  });

  // Init to the first link
  if (path === 'comments') {
    $issuesLink.click();
  } else {
    $correctionsLink.click();
  }
});

</script>