<!-- Analytics by GitHub Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ config.analytics_key }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">

$(Shareabouts).on('panelshow', function(evt, app, path) {
  
  var asset = $("#asset-class").text();
  
  switch(asset)
  {
  case "A":
    $("#asset-class").text("Economic").addClass('asset-economic');
    break;
  case "B":
    $("#asset-class").text("Health and Social Services").addClass('asset-health');
    break;
  case "C":
    $("#asset-class").text("Housing").addClass('asset-housing');
    break;
  case "D":
    $("#asset-class").text("Infrastructure Systems").addClass('asset-infrastructure');
    break;
  case "E":
    $("#asset-class").text("Natural and Cultural").addClass('asset-natural');
    break;
  default:
    $("#asset-class").text("Missing asset identified by community member");
  } 
  
});

</script>